.activity-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 70px;
    color: #fff;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.header p {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: -30px;
    margin-bottom: 10px;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.activity-list-wrapper {
    width: 650px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #186e3c;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.voting-instructions {
    width: 500px;
    height: 380px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff; /* White text color */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px; /* Reduce padding */
    /* box-sizing: border-box; */
    min-height: 120px; /* Adjust to fit content */
}

.voting-instructions-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px; /* Adjust margin */
    margin-top: 20px;
}

.voting-instructions ul {
    list-style-type: disc; /* Display bullet points */
    padding-left: 20px; /* Add padding for left alignment */
    margin: 0;
    color: white; /* White color for text */
    text-align: left; /* Left-align text */
}

.voting-instructions li {
    margin-bottom: 10px; /* Space between list items */
}

.vote-button {
    width: 150px; /* Adjust width to make button compact */
    height: 40px; /* Adjust height to make button compact */
    background: #186e3c;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px; /* Adjust font size */
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 40px; /* Adjust line height */
    margin-top: 10px; /* Adjust margin */
}

.scrollable-activity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 200px;
    max-height: 475px;
    overflow-y: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.activity-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d3d3d3;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: black;
    overflow: hidden;
    padding: 15px;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 0.3s ease;
}

.activity-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activity-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.activity-information {
    font-size: 14px;
    color: #666;
    text-align: right;
}

.activity-description {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    color: #186e3c;
    background-color: #d4edda;
}

.message.error {
    color: #d9534f;
    background-color: #f8d7da;
}
