.header {
    text-align: center; /* Center align content within header */
    margin-bottom: 20px; /* Adjust spacing between header and homepage-wrapper */
}

.header h1 {
    font-size: 70px;
    color: #fff;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Example shadow size and color */
    margin: 0;
  }
  
  .header p {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Example shadow size and color */
    margin-top: -30px;
    margin-bottom: 10px;
  }
  
  .activity-list-wrapper {
    position: relative;
    width: 650px; /* Ensure this is the desired width */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #186e3c;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto; /* Center horizontally within parent container */
}

.scrollable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 200px;
    max-height: 475px; /* Adjust this height to show only the first 4 elements */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-bottom: 15px;
    margin-top: 15px;
}

.activity-button {
    display: flex;
    flex-direction: column; /* Stack details vertically */
    align-items: flex-start; /* Align items to the left */
    background-color: #d3d3d3;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: black;
    overflow: hidden;
    padding: 15px;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: left; /* Align text to the left */
    transition: background-color 0.3s ease;
}

.activity-details {
    display: flex;
    flex-direction: column; /* Stack details vertically */
    width: 100%; /* Ensure full width */
}

.activity-name-container {
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: space-between; /* Space out name and info */
    width: 100%; /* Ensure full width */
}

.activity-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.activity-information {
    font-size: 14px;
    color: #666;
    text-align: right; /* Align text to the right */
}

.activity-description {
    font-size: 14px;
    color: #888;
    margin-top: 5px; /* Space between info and description */
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    color: #186e3c; /* Green color */
    background-color: #d4edda; /* Light green background */
}

.message.error {
    color: #d9534f; /* Red color */
    background-color: #f8d7da; /* Light red background */
}

.vote-button {
    width: 200px;
    height: 45px;
    background: #186e3c;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    line-height: 45px;
}